# Operadores y Tipos de Operadores

¿Qué son los operadores?
- Son un conjunto de simbolos para un lenguaje de programacion
- Pueden decirle al compilador o interprete que ejecute ciertas acciones para producir un resultado final
- Pueden ser usados para aplicar operaciones en variables o valores
- Pueden ser clasificados segun su tipo (aritmeticos, relacionales, de asignacion, logicos, afiliacion y de identidad)

Tipos de Operadores:
- Aritmeticos
- Relacionales
- De Asignacion
- Logicos
- Aflicacion
- De Identidad

### Operadores Aritmeticos
- "+": suma
- "-": resta
- "*": multiplicacion
- "/": Division
- "//": Division con redondeo hacia abajo
- "**": Potencia / Exponente

In [5]:
# "+": suma
num1 = 500
num2 = 300
print("El resultado de la suma es: ", num1+num2)

El resultado de la suma es:  800

In [7]:
num1 = 200
num2 = 900
print("El resultado de la suma es: ", num1+num2)

El resultado de la suma es:  1100

In [9]:
# "-": resta
num1 = 500
num2 = 300
print("El resultao de la resta es:", num1-num2)

El resultao de la resta es: 200

In [11]:
num1 = 200
num2 = 900
print("El resultao de la resta es:", num1-num2)

El resultao de la resta es: -700

In [13]:
# "*": multiplicacion
num1 = 500
num2 = 300
print("El resultao de la multiplicacion es:", num1*num2)

El resultao de la multiplicacion es: 150000

In [15]:
num1 = 200
num2 = 900
print("El resultao de la multiplicacion es:", num1*num2)

El resultao de la multiplicacion es: 180000

In [17]:
# "/": division
num1 = 500
num2 = 300
print("El resultao de la division es:", num1/num2)

El resultao de la division es: 1.6666666666666667

In [19]:
num1 = 200
num2 = 900
print("El resultao de la division es:", num1/num2)

El resultao de la division es: 0.2222222222222222

In [21]:
# "//": division con redondeo hacia abajo
num1 = 500
num2 = 300
print("El resultao de la division es:", num1//num2)

El resultao de la division es: 1

In [23]:
num1 = 200
num2 = 900
print("El resultao de la division es:", num1//num2)

El resultao de la division es: 0

In [25]:
# "**": Potencia / Exponente
num1 = 2
num2 = 5
print("El resultao de la potencia es:", num1**num2) # 2*2*2*2*2

El resultao de la potencia es: 32

In [27]:
num1 = 3
num2 = 3
print("El resultao de la potencia es:", num1**num2) # 3*3*3

El resultao de la potencia es: 27

## Operadores Relacionales

¿Que son los operadores relacionales?
 - son tambien conocidos como operadores de comparacion
 - Regresa un valor booleano (Verdadero o Falso)
 - En python, son usados para comparar o relacionar los valores
 - Verdadero/True, es el resultado cuando la condicion es validada
 - Falso/False, es el resultado cuando la condicion no se cumple
 - Estos operadores se encargar de las operaciones de comparacion

Tipos de Operadores Relacionales
 - "==" : Igual a
 - "!=" : Diferente a
 - ">" : Mayor que
 - ">=" : Mayor o igual que
 - "<" : Menor que
 - "<=" : Menor o igual que

In [32]:
# "==" : Igual a

num1 = 570 # asignacion
num2 = 420
print("El resultado de num1 == num2 es: ",num1==num2)

El resultado de num1 == num2 es:  False

In [34]:
num1 = 570 # asignacion
num2 = 570
print("El resultado de num1 == num2 es: ",num1==num2)

El resultado de num1 == num2 es:  True

In [36]:
string1 = "Backend Python" # Asignacion
string2 = "Backend Python"
print("El resultado de string1 == string2 es :", string1 == string2)

El resultado de string1 == string2 es : True

In [40]:
string1 = "Backend Python" # Asignacion
string2 = "backend python"
print("El resultado de string1 == string2 es :", string1 == string2)

El resultado de string1 == string2 es : False

In [42]:
# "!=" : Diferente a
num1 = 570 # asignacion
num2 = 420
print("El resultado de num1 != num2 es: ",num1!=num2)

El resultado de num1 != num2 es:  True

In [44]:
num1 = 570 # asignacion
num2 = 570
print("El resultado de num1 != num2 es: ",num1!=num2)

El resultado de num1 != num2 es:  False

In [46]:
string1 = "Backend Python" # Asignacion
string2 = "Backend Python"
print("El resultado de string1 != string2 es :", string1 != string2)

El resultado de string1 != string2 es : False

In [48]:
string1 = "Backend Python" # Asignacion
string2 = "Backend python"
print("El resultado de string1 != string2 es :", string1 != string2)

El resultado de string1 != string2 es : True

In [50]:
# ">" : Mayor que
num1 = 570 # asignacion
num2 = 420
print("El resultado de num1 > num2 es: ",num1 > num2)

El resultado de num1 > num2 es:  True

In [52]:
num1 = 570 # asignacion
num2 = 570
print("El resultado de num1 > num2 es: ",num1 > num2)

El resultado de num1 > num2 es:  False

In [54]:
num1 = 570 # asignacion
num2 = 890
print("El resultado de num1 > num2 es: ",num1 > num2)

El resultado de num1 > num2 es:  False

In [56]:
# ">=" : Mayor o igual que
num1 = 570 # asignacion
num2 = 420
print("El resultado de num1 >= num2 es: ",num1 >= num2)

El resultado de num1 >= num2 es:  True

In [58]:
num1 = 570 # asignacion
num2 = 570
print("El resultado de num1 >= num2 es: ",num1 >= num2)

El resultado de num1 >= num2 es:  True

In [60]:
num1 = 570 # asignacion
num2 = 890
print("El resultado de num1 >= num2 es: ",num1 >= num2)

El resultado de num1 >= num2 es:  False

In [62]:
# "<" : Menor que
num1 = 570 # asignacion
num2 = 420
print("El resultado de num1 < num2 es: ",num1 < num2)

El resultado de num1 < num2 es:  False

In [64]:
num1 = 570 # asignacion
num2 = 570
print("El resultado de num1 < num2 es: ",num1 < num2)

El resultado de num1 < num2 es:  False

In [66]:
num1 = 570 # asignacion
num2 = 890
print("El resultado de num1 < num2 es: ",num1 < num2)

El resultado de num1 < num2 es:  True

In [68]:
# "<=" : menor o igual que
num1 = 570 # asignacion
num2 = 420
print("El resultado de num1 <= num2 es: ",num1 <= num2)

El resultado de num1 <= num2 es:  False

In [70]:
num1 = 570 # asignacion
num2 = 570
print("El resultado de num1 <=num2 es: ",num1 <= num2)

El resultado de num1 <=num2 es:  True

In [72]:
num1 = 570 # asignacion
num2 = 890
print("El resultado de num1 <= num2 es: ",num1 <= num2)

El resultado de num1 <= num2 es:  True

### Operadores de Asignacion

¿Que son los operadores de asignacion?
 - En python son usados para asignar valores a variables
 - Incluyen al operador de asignacion que es el signo de igual "="

Tipos de operadores de asignacion: 
- "=" : Operador de asignacion
- "+=" : sumar y asignar
- "-=" : restar y asignar
- "*=" : multiplicar y asignar
- "/=" : dividir y asignar
- "//=" : dividir redondeando hacia abajo y asignar
- "%=" : Modulo y asignar
- "**=" : Exponente y asignar

In [77]:
# "=" : Operador de asignacion
num1 = 20
num2 = 3

In [79]:
# "+=" : Sumar y asignar
num1 = 20
num2 = 3
print("num1 antes de la operacion",num1)
num1 += num2 # num1 = num1 + num2
print("El valor de num1 es: ",num1)

num1 antes de la operacion 20
El valor de num1 es:  23

In [81]:
# "-=" : restar y asignar
num1 = 20
num2 = 3
print("num1 antes de la operacion",num1)
num1 -= num2 # num1 = num1 - num2
print("El valor de num1 es: ",num1)

num1 antes de la operacion 20
El valor de num1 es:  17

In [83]:
# "*=" : multiplicar y asignar
num1 = 20
num2 = 3
print("num1 antes de la operacion",num1)
num1 *= num2 # num1 = num1 * num2
print("El valor de num1 es: ",num1)

num1 antes de la operacion 20
El valor de num1 es:  60

In [85]:
# "/=" : dividir y asignar
num1 = 20
num2 = 3
print("num1 antes de la operacion",num1)
num1 /= num2 # num1 = num1 / num2
print("El valor de num1 es: ",num1)

num1 antes de la operacion 20
El valor de num1 es:  6.666666666666667

In [87]:
# "//=" : dividir con redondeo hacia abajo y asignar
num1 = 20
num2 = 3
print("num1 antes de la operacion",num1)
num1 //= num2 # num1 = num1 // num2
print("El valor de num1 es: ",num1)

num1 antes de la operacion 20
El valor de num1 es:  6

In [105]:
# "%=" : Modulo y asignar, El numero que queda despues de haber dividido, residuo
num1 = 20
num2 = 3
print("num1 antes de la operacion",num1)
num1 %= num2 # num1 = num1 % num2
print("El valor de num1 es: ",num1)

num1 antes de la operacion 20
El valor de num1 es:  2

In [107]:
# "**=" : Exponente y asignar
num1 = 20
num2 = 3
print("num1 antes de la operacion",num1)
num1 **= num2 # num1 = num1 ** num2
# 20 * 20 * 20
print("El valor de num1 es: ",num1)

num1 antes de la operacion 20
El valor de num1 es:  8000

### Operadores Logicos

¿Que son los operadores logicos?
- son usados principalmente para declaraciones condicionales
- Son indicadores estructurales
- Tambien se les conoce como conectores logicos
- hay 3 tipos de operadores logicos:
  - AND (y) - regresa True/Verdadero si ambas operaciones son verdaderos
  - OR (o) -  regresa True/Verdadero si por lo menos una de las operaciones es verdadera
  - NOT (Lo opuesto) - regresa True/Verdadero si la operacion es False/Falso

In [111]:
# AND (y)
# Todas las condiciones deben ser verdaderas
num1 = 11
num2 = 55
# num1 <= num2 : True/Verdadero
# num1 != num2 : True/Verdadero
print("num1 <= num2 and num1 != num2", num1 <= num2 and num1 != num2)

num1 <= num2 and num1 != num2 True

In [113]:
num1 = 11
num2 = 11
# num1 <= num2 : True/Verdadero
# num1 != num2 : False/Falso
print("num1 <= num2 and num1 != num2", num1 <= num2 and num1 != num2)

num1 <= num2 and num1 != num2 False

In [115]:
num1 = 11
num2 = 55
# num1 <= num2 : True/Verdadero
# num1 != num2 : True/Verdadero
# num1 > 10 : True/Verdadero
print("num1 <= num2 and num1 != num2", num1 <= num2 and num1 != num2 and num1 > 10 )

num1 <= num2 and num1 != num2 True

In [119]:
num1 = 11
num2 = 11
# num1 <= num2 : True/Verdadero
# num1 != num2 : False/Falso
# num1 > 10 : True/Verdadero
print("num1 <= num2 and num1 != num2", num1 <= num2 and num1 != num2 and num1 > 10 )

num1 <= num2 and num1 != num2 False

In [123]:
# OR (o) - con que una de las condiciones se cumpla regresa Tue

num1 = 11
num2 = 55
# num1 <= num2 : True/Verdadero
# num1 != num2 : True/Verdadero
print("num1 <= num2 and num1 != num2", num1 <= num2 or num1 != num2)

num1 <= num2 and num1 != num2 True

In [125]:
num1 = 11
num2 = 11
# num1 <= num2 : True/Verdadero
# num1 != num2 : False/Falso
print("num1 <= num2 and num1 != num2", num1 <= num2 or num1 != num2)

num1 <= num2 and num1 != num2 True

In [129]:
num1 = 11
num2 = 11
# num1 <= num2 : True/Verdadero
# num1 != num2 : False/Falso
# num1 > 10 : True/Verdadero
print("num1 <= num2 and num1 != num2", num1 <= num2 or num1 != num2 or num1 > 10 )

num1 <= num2 and num1 != num2 True

In [131]:
num1 = 11
num2 = 55
# num1 <= num2 : True/Verdadero
# num1 != num2 : True/Verdadero
# num1 > 10 : True/Verdadero
print("num1 <= num2 and num1 != num2", num1 <= num2 or num1 != num2 or num1 > 10 )

num1 <= num2 and num1 != num2 True

In [137]:
# NOT (lo opuesto) - 
# La condicion debe ser false

num1 = 11
num2 = 55
# num1 <= num2: True/Verdadero
print("not num1 <= num2 :", not num1 <= num2)

not num1 <= num2 : False

In [141]:
num1 = 11
num2 = 55
# num1 != num2: True/Verdadero
print("not num1 <= num2 :", not num1 != num2)

not num1 <= num2 : False

In [143]:
num1 = 11
num2 = 55
# num1 > num2: True/Verdadero
print("not num1 > num2 :", not num1 > num2)

not num1 > num2 : True

# Operadores de Afiliacion

¿Que son los operadores de afiliacion?
 - Son usados para validar los elementos en listas, cadenas y tuplas
 - Validan si una variable esta presente en una secuencia
 - Regresan un valor booleano con el resultado : True/False
 - Regresan True / Verdadero si el valor esta presente en la secuencia
 - Regresan False / Falso si el valor no esta presente en la secuencia
 - Hay 2 Operadores de afiliacion:
    - IN - EL valor esta en la secuencia
    - NOT IN - el valor no esta en la secuencia

In [3]:
# IN: ¿El valor esta presen en la secuencia?

string = "Backend Python"
print("'a' in string", 'a' in string)

'a' in string True

In [9]:
string = "Backend Python"
print("'i' in string", 'i' in string)

'i' in string False

In [13]:
list = [1, 154, 321, 22, 11]
print("'5' in list", 5 in list)

'5' in list False

In [17]:
list = [1, 154, 321, 22, 11, 5] # las listas pueden tener valores duplicados
print("'5' in list", 5 in list)

'5' in list True

In [21]:
set = {1, 154, 321, 22, 11, 5, 11, 22} # los set solo toma valores unicos, no duplicados
print("'5' in list", 5 in set)

'5' in list True

In [25]:
# NOT IN : ¿El valor NO esta presente en la secuencia?
string = "Backend Python"
print("'a' not in string", 'a' not in string)

'a' not in string False

In [27]:
string = "Backend Python"
print("'i' not in string", 'i' not in string)

'i' not in string True

In [29]:
list = [1, 154, 321, 22, 11, 5] # las listas pueden tener valores duplicados
print("'5' not in list", 5 not in list)

'5' not in list False

In [31]:
set = {1, 154, 321, 22, 11, 5, 11, 22} # los set solo toma valores unicos, no duplicados
print("'5' not in list", 5 not in set)

'5' not in list False

### Operadores de Identidad

¿Que son los operadores de identidad?
 - Son usados para comparar la ubicacion en memoria de dos objetos
 - Se utilizan para validar si los valores comparten el mismo espacio de memoria o no
 - Regresa True / Verdadero si lo comparten
 - Regresa False / Falso si no lo comparten
 - Hay 2 operadores de identidad:
   - IS
   - IS NOT

In [36]:
# IS
num1 = 11
num2 = 55
print("num1 is num2 ", num1 is num2)

num1 is num2  False

In [44]:
num1 = 77
num2 = 77
print("num1 is num2 ", num1 is num2)

num1 is num2  True

In [46]:
# IS NOT
num1 = 11
num2 = 55
print("num1 is not num2 ", num1 is not num2)

num1 is not num2  True

In [48]:
num1 = 77
num2 = 77
print("num1 is not num2 ", num1 is not num2)

num1 is not num2  False

## Conversion de Tipos

¿Que es la conversion de tipos?
 - Es el proceso de conversion de un tipo de dato a otro tipo de dato
 - Es un paso muy importante para combinar multiples fuentes de datos en un formato especifico
 - Hay 2 tipos:
    - Conversion Implicita: hecha de forma automatica por el interprete de python
    - Conversion Explicita

In [57]:
# Conversion Implicita
14+2.0 # El resultado se convierte en un float ya que se esta sumando un int a un float, sin importar el que, el resultado sera un float

16.0

In [55]:
14+2.0+3

19.0

In [61]:
# Conversion Explicita
int(199.99) # Se pasa a entero por la funcion int, se quitan los decimales

199

In [65]:
float(58) # Se pasa a float por la funcion float, se agregan los decimales

58.0

In [69]:
complex(4) # se pasa el 4 a notacion de numero complejo

(4+0j)

### Conversion INT

In [72]:
int(10.78) # float a int

10

In [76]:
int(False) # bool a int #False = 0

0

In [78]:
int(True) # bool a int # True = 1

1

In [80]:
# Error
int(5+3j) # complejo a int, no se puede

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [82]:
int("120") # String a int, se podra siempre y cuando la cadena sea un numero

120

In [84]:
# Error
int("120.5") # Da error ya que es un string que viene como float

ValueError: invalid literal for int() with base 10: '120.5'

## Conversion float

In [88]:
float(23) # int a float

23.0

In [90]:
# Error
float(23+3j) # complejo a float

TypeError: float() argument must be a string or a real number, not 'complex'

In [92]:
float(True) # bool a float

1.0

In [96]:
float("843.29") # string a float # se puede ya que el numero en el string es un float

843.29

In [100]:
float("843") # string a float, igual se puede ya que float maneja enteros y floats

843.0

In [102]:
# Error
float("843t") # string a float

ValueError: could not convert string to float: '843t'

In [106]:
# Error
float("True") # string a float, da error ya que es un texto y no un numero

ValueError: could not convert string to float: 'True'

### Conversion Complex

In [109]:
complex(42) # int a complex

(42+0j)

In [111]:
complex(92.8) # float a complex

(92.8+0j)

In [113]:
complex(True) # bool a complex

(1+0j)

In [115]:
complex("24") # string a complex

(24+0j)

In [117]:
complex("24.67") # string a complex

(24.67+0j)

In [121]:
# Error
complex("Backend") # string a complex, da error ya que no es un numero

ValueError: complex() arg is a malformed string

In [123]:
# Error
complex("10c") # string a complex

ValueError: complex() arg is a malformed string

In [127]:
complex("10j") # string a complex, la unica excepcion es usando la "j" ya que se usa en la parte imaginaria de los numeros complejos

10j

In [129]:
# Error
complex("10i") # string a complex

ValueError: complex() arg is a malformed string

### Conversion Bool

In [132]:
bool(0) # int a bool

False

In [134]:
bool(1) # int a bool

True

In [144]:
bool(7) # int a bool, siempre que sea diferente que 0 sera TRUE

True

In [140]:
bool(1.8) # float a bool

True

In [142]:
bool(0.2) # float a bool

True

In [146]:
bool(-1.8) # float a bool

True

In [152]:
bool(0+3j) # complex a bool # Mientras tenga valor diferente a 0 en la parte real o en la imaginaria, sera True

True

In [150]:
bool(0+0j) # complex a bool

False

In [156]:
bool("Python") # string a bool, valida que no sea una cadena vacia, mientras no este vacia sera True

True

In [162]:
bool(" ") #string a bool

True

In [164]:
bool("") # string a bool

False

In [166]:
bool("0") # string a bool, aqui no toma en cuenta el mundo, si no el tipo de dato string y que no este vacia la cadena

True

### Conversion String

In [169]:
str(25) # int a string

'25'

In [171]:
str(36.9) # float a string

'36.9'

In [173]:
str(6+8j) # complex a string

'(6+8j)'

In [177]:
str(True) # bool a string

'True'

# Funciones Basicas

### trunc()

In [183]:
num1 = 64.99
num2 = 64.5
num3 = 64.51
num4 = 64.000000001
print("num1",num1)
print("num2",num2)
print("num3",num3)
print("num4",num4)

num1 64.99
num2 64.5
num3 64.51
num4 64.000000001

In [187]:
from math import trunc
num1 = 64.99
num2 = 64.5
num3 = 64.51
num4 = 64.000000001
print("trun(num1)",trunc(num1))
print("num2",trunc(num2))
print("num3",trunc(num3))
print("num4",trunc(num4))

trun(num1) 64
num2 64
num3 64
num4 64

### round(), ceil() y floor()

In [192]:
# round() , es para redondear, de 0.5 hacia abajo se queda en ese entero, si esta arriba de .51 en adelante se redondea hacia arriba

num1 = 64.99
num2 = 64.5
num3 = 64.51
num4 = 64.000000001
print("round(num1)",round(num1))
print("num2",round(num2))
print("num3",round(num3))
print("num4",round(num4))

round(num1) 65
num2 64
num3 65
num4 64

In [196]:
# ceil() , redondea siempre hacia arriba, no importa si el decimal esta abajo de .5
from math import ceil
num1 = 64.99
num2 = 64.5
num3 = 64.51
num4 = 64.000000001
print("ceil(num1)",ceil(num1))
print("num2",ceil(num2))
print("num3",ceil(num3))
print("num4",ceil(num4))

ceil(num1) 65
num2 65
num3 65
num4 65

In [198]:
# floor() , redondea siempre hacia abajo, no importa si el decimal esta arriba de .5
from math import floor
num1 = 64.99
num2 = 64.5
num3 = 64.51
num4 = 64.000000001
print("floor(num1)",floor(num1))
print("num2",floor(num2))
print("num3",floor(num3))
print("num4",floor(num4))

floor(num1) 64
num2 64
num3 64
num4 64

## Funcion %

In [207]:
# Se especifica cuantos decimales quieres especificamente en el resultado
num1 = 64.99
num2 = 64.5
num3 = 64.51
num4 = 64.000000001
print("num1",'%.1f' % num1) # aqui al forzar que tenga un solo decimal, redondeo todo hacia arriba
print("num2",'%.3f' %num2)
print("num3",'%.4f' %num3)
print("num4",'%.5f' %num4)

num1 65.0
num2 64.500
num3 64.5100
num4 64.00000

## Funcion format()

In [215]:
num1 = 64.99
num2 = 64.5
num3 = 64.51
num4 = 64.000000001
print("num1",'{:.1f}'.format(num1))# aqui al forzar que tenga un solo decimal, redondeo todo hacia arriba
print("num2",'{:.3f}'.format(num2))
print("num3",'{:.4f}'.format(num3))
print("num4",'{:.5f}'.format(num4))

num1 65.0
num2 64.500
num3 64.5100
num4 64.00000